/*=========================Custom Properties========================*/

:root {
  /*===========Colors============*/

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  /*===========Typography=========*/

  --font-family-vietnam-Pro: "Be Vietnam Pro", sans-serif;

  --fs-1: 30px;
  -fs-2: 38px;
  --fs-3: 27px;

  /*===========Spacing============*/

  --section-spacing: 80px;
}

/*=========================Reset===========================*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
a,
span,
input {
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  scrollbar-width: thin;
}

body {
  font-family: var(--font-family-vietnam-Pro);
  font-size: 16px;
  background-color: var(--very-light-gray);
  overflow-x: hidden;
}

/*=========================Reused styles===========================*/

.container {
  max-width: 530px;
  margin-inline: auto;
  padding-inline: 20px;
}

.section {
  padding-block-start: var(--section-spacing);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.fixed {
  position: fixed;
}

.text-align {
  --position: center;

  text-align: var(--position);
}

.navbar,
.header {
  z-index: 10;
}

.section-title {
  font-size: var(--fs-3);
  color: var(--dark-blue);
}

.section-text {
  color: var(--dark-grayish-blue);
  margin-block: 15px 25px;
  text-wrap: balance;
  line-height: 1.7;
}

.btn {
  max-width: max-content;
  margin-inline: auto;
  padding: 12px 25px;
  background-color: var(--bright-red);
  color: var(--very-pale-red);
  font-family: var(--font-family-vietnam-Pro);
  font-weight: 600;
  font-size: 15px;
  border-radius: 25px;
  transition: background-color 200ms linear;
  box-shadow: 0px 6px 7px hsla(12, 88%, 59%, 0.6);
}

.btn:is(:hover, :focus) {
  background-color: hsla(12, 88%, 59%, 0.8);
}

.grid {
  display: grid;
}

.swiper,
.swiper-pagination {
  margin-block-start: 30px;
}

.about,
.hero {
  position: relative;
  z-index: 1;
}

.bg-pattern {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -2;
}

.hero .bg-pattern {
  top: -60px;
  right: -50px;
}

.about .bg-pattern {
  top: -100px;
  right: -150px;
}
/*=========================Main styles===========================*/

.header {
  right: 0;
  left: 0;
}

.header .container {
  padding-block: 30px;
}

.header:has(.navbar.active) .nav-close-btn,
.header:has(.navbar) .nav-open-btn {
  display: block;
}

.header:has(.navbar) .nav-close-btn,
.header:has(.navbar.active) .nav-open-btn {
  display: none;
}

.navbar {
  width: 330px;
  max-width: 330px;
  background-color: var(--very-light-gray);
  top: 80px;
  padding-block: 25px;
  border-radius: 5px;
  margin-inline: auto;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.navbar.active {
  display: block;
}

.nav-link {
  padding-block: 12px;
  color: var(--dark-blue);
  font-weight: 700;
}

.overlay {
  inset: 0;
  background-color: hsla(233, 12%, 13%, 0.2);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.header .btn {
  display: none;
}

/*=================Hero section==============*/

.hero .container {
  gap: 15px;
}

.hero-title {
  font-size: var(--fs-1);
}

.hero-banner {
  max-width: 450px;
  margin-inline: auto;
}
/*=================About section==============*/

.about .container {
  gap: 20px;
}

.about-card-intro {
  position: relative;
}

.card_counter {
  padding: 6px 14px;
  background-color: var(--bright-red);
  border-radius: 16px;
  color: var(--very-pale-red);
  font-weight: 600;
  max-width: max-content;
  position: absolute;
  left: -10px;
  top: 0;
}

.about-card-title {
  padding: 6px 45px;
  color: var(--dark-blue);
  font-weight: 700;
  background-color: var(--very-pale-red);
}

/*==========Testimonial section========*/

.testimonials .container {
  overflow-x: hidden;
}

.user-profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-inline: auto;
}

.user-name,
.testimonials .btn {
  margin-block: 30px;
}

/*==========Swiper Js styles=========*/

.swiper {
  position: relative;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  border: 2px solid var(--bright-red) !important;
  background-color: #fff;
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background-color: var(--bright-red);
}

/*==============Simplify section============*/

.simplify {
  background-color: var(--bright-red);
  background-image: url("/images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  padding-block: 50px;
}

.simplify-title {
  font-size: var(--fs-2);
  color: var(--very-light-gray);
}

.simplify .btn {
  background-color: var(--very-light-gray);
  color: var(--bright-red);
  margin-block-start: 20px;
}

/*=============Footer=================*/

.footer {
  background-color: var(--very-dark-blue);
  padding-block: 30px;
}

.footer .container {
  row-gap: 50px;
  padding-inline: 50px;
}

.footer-form {
  gap: 10px;
  max-width: 360px;
}

.footer-input {
  padding-block: 15px;
  background-color: var(--very-light-gray);
  flex-grow: 1;
  border-radius: 35px;
  padding-inline: 15px;
}

.footer-form .btn {
  margin-inline: 0;
  box-shadow: none;
}

.footer-list {
  grid-template-columns: 1fr 1fr;
  padding-inline: 30px;
  row-gap: 15px;
  color: var(--very-light-gray);
}

.social-link img {
  width: 25px;
}

.footer .logo {
  margin-inline: auto;
}

.copyright {
  text-align: center;
  color: var(--dark-grayish-blue);
  margin-block-start: 50px;
  font-size: 14px;
}

/*==================Media queries==================*/

/*======Responsive for devices more than 575px devices=====*/

@media (min-width: 575px) {
  .container {
    max-width: 580px;
  }
}

/*======Responsive for devices more than 768px devices=====*/

@media (min-width: 768px) {
  :root {
    --fs-2: 25px;

    --section-spacing: 120px;
  }

  .container {
    max-width: 750px;
  }

  .hero .container,
  .about .container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .text-align {
    --position: left;
  }

  .hero .btn {
    margin-inline: 0;
  }

  .hero-banner {
    order: 2;
  }

  .testimonials .text-align {
    --position: center;
  }

  .simplify .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .simplify-title {
    max-width: 20ch;
  }

  .simplify .btn {
    margin-block: 0;
    margin-inline: 0;
  }

  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .footer-form,
  .footer-social-list {
    align-items: flex-start;
  }

  .footer .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-inline: 0;
  }

  .footer-list {
    padding-inline: 0;
  }

  .footer-social-list {
    justify-content: flex-end;
    gap: 10px;
  }

  .copyright {
    grid-column: 1/3;
    margin-block-start: 0;
  }

  .bg-pattern {
    width: 440px;
    height: 520px;
  }

  .about .bg-pattern {
    top: unset;
    bottom: -300px;
    left: -200px;
  }

  .testimonials .container {
    max-width: 100%;
    padding-inline: 0;
  }

  .testimonial-message {
    text-wrap: balance;
  }
}

/*======Responsive for devices more than 992px devices=====*/

@media (min-width: 992px) {
  :root {
    --section-spacing: 100px;
  }

  .hero {
    --section-spacing: 150px;
  }

  .container {
    max-width: 950px;
  }

  .navbar {
    all: unset;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .nav-toggle-btn {
    display: none;
  }

  .header .btn {
    display: block;
    margin-inline: 0;
  }

  .simplify {
    padding-block: 30px;
  }

  .footer .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .copyright {
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: right;
  }

  .footer-list {
    grid-column: 2/3;
    grid-row: 1/2;
    column-gap: 70px;
  }
}

/*======Responsive for devices more than 1200px devices=====*/

@media (min-width: 1200px) {
  :root {
    --fs-1: 50px;
    --fs-3: 35px;
  }

  .hero {
    --section-spacing: 200px;
  }

  .hero .container,
  .about .container {
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }

  .container {
    max-width: 1150px;
  }

  .hero-title {
    line-height: 1;
  }

  .hero-banner {
    max-width: 550px;
  }
}

/*======Responsive for devices more than 1300px devices=====*/

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
